body{
	background-color: #C2D1E0;
}

#container {
	width:70%;
	margin:0 15% 0 15%;
	padding:15px;
	background-color:white;
}

h1, h2, h3{
	text-align: center;
}

img{
	margin: 15px;
}


.year-input{
	width:60px;
}
a.movieCard {
	text-decoration: none;
	color:black;
	width:30%;
	padding:5px;
	margin:10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: border .2s ease-in-out;
       -o-transition: border .2s ease-in-out;
          transition: border .2s ease-in-out;
}

.movieCard:hover{
	border-color:blue;
	text-decoration:none;
}



.commentBox {
    border:1px solid #bbb;
    margin:0 50px;
	padding:10px;
}

.form-inline .form-control{
	width:600px;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
